#map-canvas {
  margin-top: 10px;
  width: 100%;
  height: 300px;
}

header{
	text-align: right;
}


.carousel-inner > .item > img {
    margin: 0 auto;
    width: 100%;
}

#catalog-content section .thumbnail .caption p:first-of-type{
  max-height: 100px;
  overflow: hidden;
}

#faceb-footer a{
  color: #9d9d9d;
}

.footer{
  text-align: center;
  margin-top: 10px;
  background-color: #222;
  border-radius: 4px;
}
#faceb-footer{
  color: #9d9d9d;
}

.morevideos{
  text-align: center;
}

.morevideos a{
  color: red;
}
